@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@700;800;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

body {
    background: #fff;
    font-family: SpaceMono, Inconsolata;
}

header {
    font-family: Inconsolata;
    font-weight: 800;
    letter-spacing: -1.8px;
    font-size: 1.5rem;
    color: #191919;
    position: absolute;
    left: 80px;
    top: 40px;
    text-transform: uppercase;
}

.container {
    position: absolute;
    top: 265px;
    left: 77px;
    right: 119px;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(525px, 1fr));
    grid-template-rows: repeat(1, 500px);
}

.img {
    width: 90%;

}

.text {
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.titulo {
    font-family: Space Mono;
    font-weight: 700;
    font-size: 4rem;   
}

.texto {
    font-family: Space Mono;
    font-weight: 400;
    font-size: 1.5rem;
    margin-bottom: 50px;
}

.boton {
    display: block;
    padding-top: 43%;
    padding-left: 49%;
}

.boton a {
    font-family: Space Mono;
    font-weight: 700;
    letter-spacing: 1px;
    text-decoration: none;
    color: #fff;
    background: #191919;
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 50px;
    padding-right: 50px;
}

.footer {
    background: #fff;
    display: flex;
    justify-content: center;
    color: #cfcfcf;
}

.footer h2 {
    font-family: Space Mono;
    font-weight: 400;
    font-size: 1.1rem;
    padding-top: 250px;
}